input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 10px;
    background-color: #F6F5F5;
    border:0;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-container {
    border: 0;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 20px;
  }