input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 10px;
    background-color: #F6F5F5;
    border:0;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-container {
    background: url(./../../images/paper-airplanes-flying-from-lines-particle-style-design_41814-315.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 15px;
    /* background-color: #e2e2e2; */
    padding: 20px;
  }